/* Big screen :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal screen :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet screen :768px. */
@media (min-width: 768px) and (max-width: 991px) {
}

/* small screen :320px. */
@media (max-width: 550px) {
	.header-area {
		min-width: auto;
	}
	.box-style {
		width: auto;
	}
	.thm_btn {
		padding: 10px 0;
		font-size: 14px;
	}
	.fixed-nav ul li a {
		font-size: 12px;
	}
	.fixed-nav ul li a i {
		width: 28px;
	}

	.Rewards-option ul li {
		flex-basis: 33%;
	}
	.record-grp-btn {
		overflow: scroll;
	}
	.footer__content ul {
		gap: 20px 10px;
	}
	.record-grp-btn::-webkit-scrollbar {
		display: none;
	}
}
