/*   Theme default css */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* ======font family=========
font-family: "Funnel Sans", sans-serif;
*/

:root {
	--thmColor: 000;
	--textColor: fff;

	--f18: 18px;
	--f20: 20px;
	--f22: 22px;
	--f24: 24px;
	--f28: 28px;
	--f30: 30px;
	--f32: 32px;
	--f36: 36px;
	--f40: 40px;
	--f48: 48px;
}

body {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
	background-color: #101010;
	color: #fff;
	font-family: "Funnel Sans", sans-serif;
	background: #000;
}

img {
	max-width: 100%;
}

button {
	cursor: pointer;
	border: none;
	padding: 0;
	background: none;
}

a:focus,
button:focus {
	text-decoration: none;
	outline: none;
}

a:focus,
a:hover {
	text-decoration: none;
}

a,
button {
	color: inherit;
	outline: medium none;
	text-decoration: none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
	outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0px;
	font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

.thm_btn {
	background: linear-gradient(189.31deg, #d79300 7.04%, #f6f193 50%, #ddb239 92.96%);
	display: block;
	text-align: center;
	width: 100%;
	color: #000;
	height: 50px;
	padding: 10px 20px;
	border-radius: 10px;
	align-content: center;
	font-weight: 500;
}

.thm_btn:hover {
	background: linear-gradient(356deg, #d79300 7.04%, #f6f193 50%, #ddb239 92.96%);
}
.box-style {
	background: #101010;
	padding: 14px 0;
	width: max-content;
	margin-inline: auto;
	background-color: #101010;
	border-radius: 14px;
}
/* default-css END 
================================== */

.header-area {
	padding: 20px 0;
	z-index: 99;
	min-width: 580px;
}

.logo-area {
	position: relative;
}

.logo-area:before {
	content: "";
	position: absolute;
	width: 150px;
	height: 150px;
	filter: blur(75px);
	background: #dfb640e5;
	z-index: -1;
	pointer-events: none;
	top: -15px;
	left: -20px;
}

a.back-link {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000;
	border-radius: 50%;
	transition: all 0.3s;
}

a.back-link:hover {
	background: linear-gradient(189.31deg, #d79300 7.04%, #f6f193 50%, #ddb239 92.96%);
}

a.back-link:hover img {
	filter: brightness(0);
}

img.overly-top {
	position: absolute;
	top: -21px;
	left: -123px;
	pointer-events: none;
	opacity: 0;
}

.header-right {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 20px;
	position: relative;
	z-index: 9999;
}

.user-icon a {
	background: linear-gradient(189.31deg, #d79300 7.04%, #f6f193 50%, #ddb239 92.96%);
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: relative;
	transition: all 0.3s;
}

.user-icon a:hover {
	background: #fff;
}

.user-icon a:before {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background: #2bb826;
	top: 0;
	right: 0;
	border-radius: 50%;
}

.fixed-nav {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	z-index: 99999;
}

.fixed-nav ul {
	display: flex;
	justify-content: space-around;
	position: relative;
	width: 100%;
	max-width: 510px;
	margin: auto;
	text-align: center;
	padding-bottom: 14px;
}

.fixed-nav ul a.center {
	position: relative;
	margin-top: -67px;
	display: block;
}

.fixed-nav ul a.center i {
	background: linear-gradient(189.31deg, #d79300 7.04%, #f6f193 50%, #ddb239 92.96%);
	width: 80px;
	height: 80px;
	margin: auto;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	box-shadow: 0px 0px 15px #dcb03580;
}

.fixed-nav ul li {
	width: 20%;
}
.fixed-nav ul li a:hover i {
	top: -2px;
}

.fixed-nav ul li a i {
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-bottom: 8px;
	transition: all 0.3s;
	position: relative;
}

.fixed-nav ul li i {
	display: block;
}
.nav-bg {
	position: absolute;
	bottom: -16px;
	width: 100%;
	min-width: 590px;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
}
/* Header section END */

/*============ Area Start =============*/

.hero-area {
	margin-bottom: 30px;
}

section.hero-area .heroSwiper {
	padding-bottom: 10px;
}

.heroSwiper .swiper-slide {
	border-radius: 14px;
	overflow: hidden;
}

.heroSwiper .swiper-pagination {
	bottom: 0;
}

.heroSwiper .swiper-pagination span {
	width: 10px;
	height: 10px;
	background: #000;
	border-radius: 0;
	border: 1px solid #ddb239;
	opacity: 1;
	margin: 0 2px !important;
	transform: rotate(45deg);
}

.heroSwiper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #ddb239;
}
.container {
	max-width: 590px;
}

.login-content {
	text-align: center;
}

.login-content .form-check {
	color: #4d4d4d;
	padding-left: 34px;
}

.login-content .form-check label a {
	color: #d79300;
}

.login-content .form-check input {
	border: 1px solid #525252;
	background-color: transparent;
	width: 20px;
	height: 20px;
	margin-left: -30px;
}

.form-check-input:checked[type="checkbox"] {
	--bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23D79300' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked {
	background-color: transparent;
	border-color: #d79300 !important;
}

.login-content small {
	font-size: 12px;
	margin: 30px 0;
	display: block;
	color: #3d3d3d;
	font-weight: 500;
}

.login-content small a {
	color: #d79300;
}

.login-content p {
	margin: 25px 0 10px;
	font-weight: 500;
	font-size: 14px;
}

.login-content h5 {
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 24px;
}
.input-box {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
	background: #000;
	padding: 14px 20px;
	margin-bottom: 20px;
	color: #d79300;
}

.input {
	position: relative;
}

.input img {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0.3;
	cursor: pointer;
}

.input-box::placeholder {
	color: rgb(220 176 53 / 41%);
}

.border-btn {
	border: 1px solid #dcb035;
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #dcb035;
	font-weight: 500;
	font-size: 18px;
	transition: all 0.3s;
}

.border-btn:hover {
	background: #dcb035;
	color: #000;
}
/*============ Area End =============*/

/*============ Area Start =============*/

.footer-area {
	padding-bottom: 190px;
	position: relative;
}

.fixed-nav:before,
.fixed-nav:after {
	content: "";
	position: absolute;
	width: 37%;
	height: 99px;
	bottom: 0;
	z-index: -1;
	/* opacity: 0; */
}

.fixed-nav:after {
	left: auto;
	right: 0;
}
.footer__content {
	border-top: 1px solid #373737;
	padding-top: 20px;
}

.footer__content a {
	display: block;
	transition: all 0.3s;
}

.footer__content a:hover {
	color: #fff;
}

.footer__content > a {
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 30px;
}

.footer__content ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: #dcb035;
	font-weight: 600;
	flex-wrap: wrap;
}
/*============ Area End =============*/

/*============ Area Start =============*/
.swiper {
	width: 100%;
	height: 100%;
}
.pdNavSwiper {
	width: 100%;
	max-width: 940px;
	height: 670px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 10px;
}
.pdNavSwiper .swiper-slide {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
	font-size: 13px;
	color: #dcb035;
	border-radius: 10px;
	padding-top: 10px;
}

a.swiper-slide.swiper-slide-active,
a.swiper-slide.not-hover:hover {
	background: linear-gradient(180deg, #d7ab30 0%, #f5f092 50.48%, #774f1c 100%);
	color: #000;
	border: 1px solid #e98e1a;
}

.pdNavSwiper .swiper-slide i {
	width: 30px;
	height: 30px;
	display: block;
	margin-bottom: 3px;
}

.pdNavSwiper .swiper-button-next,
.pdNavSwiper .swiper-button-prev {
	left: 43%;
	transform: translateX(-50%);
}
.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}

.pdNavSwiper .swiper-button-prev {
	top: 18px;
}

.pdNavSwiper .swiper-button-next {
	top: auto;
	bottom: -18px;
}

.product-area {
	padding-bottom: 30px;
}

.ctg-nav {
	margin: 15px 0 30px;
	overflow: scroll;
}
.ctg-nav::-webkit-scrollbar {
	display: none;
}
.ctg-nav ul {
	display: flex;
	align-items: center;
	gap: 3%;
}

.ctg-nav ul li {
	width: 80px;
	flex-shrink: 0;
}

.ctg-nav ul li a {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #000;
	border-radius: 10px;
	font-size: 15px;
	color: #dcb035;
	transition: all 0.3s;
}

.ctg-nav ul li a:hover,
.pdNavSwiper .swiper-slide:hover {
	background: #dcb03514;
}

.ctg-nav ul li a i {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.product__nav {
	width: 100px;
	top: 0;
	transition: all 0.3s ease;
	position: -webkit-sticky;
	position: sticky;
}
.product__nav.is-sticky {
	position: fixed;
	top: 0;
	z-index: 99;
}
.product__content {
	/* width: calc(100% - 100px); */
}
.product__items {
	margin-bottom: 20px;
}

.product__items h6 {
	margin: 0;
}

.product__items .swiper-button-prev {
	position: absolute;
	top: -10px;
	right: 19px;
	height: 30px;
	z-index: 999;
	margin: unset;
	left: auto;
}

.product__items .swiper-button-next {
	position: absolute;
	top: 5px;
	right: 0;
	left: auto;
}

.product__items .swiper-slide {
	position: relative;
	border-top-left-radius: 10px;
	overflow: hidden;
	border-bottom-right-radius: 10px;
	background: #000;
}

.product__items .swiper-slide:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(189.31deg, #d79300 7.04%, #f6f193 50%, #ddb239 92.96%);
	opacity: 0;
	transition: all 0.3s;
}

.product__items .swiper-slide:hover:before {
	opacity: 0.8;
}

.product__items .swiper-slide span {
	display: block;
	padding: 3px 10px;
	font-size: 14px;
	color: #dcb035;
	min-height: 27px;
	position: relative;
	z-index: 9;
}

.product__items .swiper-slide:hover span {
	color: #000;
}

.product__items .swiper-slide i {
	display: block;
	height: 92px;
	overflow: hidden;
}

.product__items .swiper-slide i img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.product__items .swiper-slide a {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	border: 1px solid #000000;
	width: max-content;
	padding: 5px 12px;
	border-radius: 30px;
	color: #000;
	opacity: 0;
}

.product__items .swiper-slide:hover a {
	opacity: 1;
}
.pdItemSwiper {
	padding-top: 30px;
	margin-top: -20px;
}
/*============ Area End =============*/

/*============Refer Area Start =============*/

.record-grp-btn ul {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
	width: max-content;
}

.record-grp-btn ul a {
	padding: 10px 32px;
	background: #000;
	border-radius: 5px;
	display: inline-block;
	line-height: 1.2;
	font-weight: 500;
	color: #dcb035;
	min-width: 120px;
	text-align: center;
}

.record-grp-btn ul a.active {
	background: #dcb035;
	color: #000;
}

.Refer-blk {
	background: #000000;
	padding: 16px 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.Refer-blk h6 {
	margin: 0;
	color: #dcb035;
}

.Refer-blk h6 button {
	margin-left: 3px;
	opacity: 0.4;
}

.Refer-blk p {
	font-size: 14px;
	margin-bottom: 10px;
}

.Refer-blk p img {
	max-width: 14px;
	margin-left: 5px;
}

.social-link {
	margin-bottom: 30px;
}

.social-link p {
	margin-bottom: 7px;
}

.social-link ul {
	display: flex;
	align-items: center;
	gap: 10px;
}

.social-link ul a {
	display: block;
	transition: all 0.3s;
}

.social-link ul a:hover {
	scale: 1.1;
}
.top-title {
	min-width: 150px;
	height: 50px;
	align-content: center;
	margin: auto;
	border-radius: 20px 20px 0px 0;
	border-top: 1px solid;
	text-align: center;
	font-weight: 600;
	color: #dcb035;
	max-width: 250px;
}

.Overview-blk {
	background: #000000;
	padding: 17px 14px;
	padding-right: 0;
	border-radius: 10px;
	margin-bottom: 16px;
}

.Overview-blk h6 {
	color: #dcb035;
	margin: 0;
}

.Overview-blk p {
	margin-bottom: 8px;
	font-size: 14px;
}
.Report__list {
	margin-bottom: 40px;
}

.Report__list ul li a {
	border: 1px solid #dcb035;
	display: flex;
	align-items: center;
	height: 50px;
	align-content: center;
	gap: 13px;
	align-items: center;
	padding: 0 14px;
	border-radius: 10px;
	margin-bottom: 12px;
}

.Report__list ul li a span {
	display: block;
	width: max-content;
	margin-left: auto;
}

.Report__list ul li a.active,
.Report__list ul li a:hover {
	background: linear-gradient(270.08deg, #d79300 0.07%, #f6f193 50%, #ddb239 99.93%);
	color: #000;
	font-weight: 600;
}

.Report__list ul li a.active span {
	filter: brightness(0);
}

.Report__list ul li a p {
	margin: 0;
}

.Report__list ul li a i {
	width: 36px;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Report__list ul li a:hover i,
.Report__list ul li a:hover span {
	filter: brightness(0);
}

/*============Refer Area End =============*/

/*============ Area Start =============*/
.date-select {
	margin-bottom: 20px;
}

.flatpickr-calendar {
	background: #dcb035;
	/* color: #fff; */
}
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
	background: #fff;
	color: #000;
	border: none;
}

.date-select .input-group {
	background: #000000;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 15px;
	border-radius: 10px;
	margin-top: 7px;
}

.date-select .input-group input {
	background: no-repeat;
	border: none;
	padding-left: 5px;
	font-weight: 300;
	color: #dcb035;
}

.date-select .input-group input::placeholder {
	color: rgb(220 176 53 / 49%);
}
.table__blk {
	overflow: auto;
	position: relative;
	z-index: 9;
	font-size: 14px;
	color: #808080;
	padding-bottom: 10px;
}

.table__wrp {
	background: #000;
	border-radius: 10px;
	padding: 15px;
	margin: 30px 0 20px;
}

.table__blk td {
	color: #808080;
	background: no-repeat;
}

.table__blk table {
	min-width: 745px;
	background: no-repeat !important;
	margin: 0;
}

.table__blk::-webkit-scrollbar {
	height: 7px;
	width: 7px;
	border-radius: 21px;
	background: #101010;
}
.table__blk::-webkit-scrollbar-thumb {
	background: #dcb035;
	border-radius: 32px;
}

.table__blk table th {
	border-bottom: 1px solid #373737;
	color: #dcb035;
	font-weight: 500;
	background: none;
}
.total-dp {
	width: 200px;
	margin-left: auto;
	background: #000;
	padding: 15px 20px;
	border-radius: 20px;
	margin-bottom: 30px;
}

.total-dp h5 {
	font-weight: 500;
}

.total-dp h4 {
	margin: 0;
	color: #2d9400;
}
/*============ Area End =============*/

/*============Refer Area Start =============*/

.Referral__user {
	background: #000000;
	border-radius: 10px;
	padding: 28px 20px 20px;
	margin-bottom: 14px;
}

.Referral__user p {
	font-size: 14px;
}

.Referral__user b {
	color: #dcb035;
}

.Referral__info {
	display: flex;
	align-items: center;
	gap: 16px;
}

.Referral__info h6 i {
	width: 16px;
	height: 16px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #2d9400;
	border-radius: 50%;
	margin-left: 3px;
}

.Referral__user p {
	margin-bottom: 8px;
}
.progress {
	margin: 20px 0;
	height: 8px;
	background: #101010;
}
.progress-bar {
	background: #2d9400;
	border-radius: 12px;
}

.Rewards-option ul {
	display: flex;
	flex-wrap: wrap;
	gap: 26px 0;
}

.Rewards-option ul li {
	flex-basis: 25%;
}

.Rewards-option ul li a {
	text-align: center;
}

.Rewards-option ul li a span {
	display: block;
}

.Rewards-option ul li a i {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #000000;
	border-radius: 10px;
	margin-inline: auto;
	margin-bottom: 5px;
}
/*============Refer Area End =============*/

/*============ Area Start =============*/

/*============ Area End =============*/

.dropdown button {
	width: max-content;
	height: 38px;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	border: none;
	cursor: pointer;
	justify-content: space-evenly;
	background: #000;
	color: transparent;
	padding: 5px;
	width: 60px;
}

.dropdown button img,
.dropdown-content li img {
	width: 26px;
	border-radius: 50%;
	overflow: hidden;
	height: 26px;
	object-fit: none;
	flex-shrink: 0;
}
.dropdown button,
.dropdown-content li {
	display: flex;
	align-items: center;
	/* font-family: "Open Sans", sans-serif; */
	/* font-family: "Noto Sans JP", sans-serif; */
	/* font-family: "Noto Sans Arabic", sans-serif; */
	font-weight: 100;
}
.arrow-down {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #ddb239 transparent transparent transparent;
	margin: 0 0 0 5px;
	position: absolute;
	right: 8px;
}

.dropdown button:hover {
	cursor: pointer;
	background-color: #3c5b77;
}
/* Style for the dropdown content */
.dropdown-content {
	display: none;
	position: absolute;
	margin: 1px 0 0 0;
	padding: 0;
	background-color: #000;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 5px;
	overflow-y: scroll;
	max-height: 315px;
	width: 64px;
	color: transparent;
}
/* Style for the dropdown content items */
.dropdown-content li {
	color: black;
	padding: 10px 0;
	text-decoration: none;
	justify-content: end;
	font-size: 0;
}
.dropdown-content li img {
	margin: 0 20px 0px 20px;
}
/* Style for the dropdown content items on hover */
.dropdown-content li:hover {
	background-color: #141414;
	cursor: pointer;
	color: transparent;
}
/* Show the dropdown content when the dropdown button is clicked */
.dropdown:focus-within .dropdown-content {
	display: block;
}
/* Animate the dropdown content */
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
.dropdown-content {
	animation: slideIn 0.3s ease-out;
}
/* Scrollbar styles */
.dropdown ::-webkit-scrollbar {
	width: 8px;
	height: 10px;
}
.dropdown ::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background: #c2c9d2;
}
